body{
    background-image: url('../img/BG/enGu3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blur2{
    backdrop-filter: blur(2px)!important;;
}

.blur5{
    backdrop-filter: blur(5px)!important;;
}

.blur10{
    backdrop-filter: blur(10px)!important;;
}
.black{
    background-color: rgba(0, 0, 0, 0.5);
}
.white{
    background-color: rgba(255, 255, 255, 0.5);
}